9/17/2022 PST 2:50 
需求


1，名字：Beatles 机甲战士
2，代号：Beatles
3，总量：无上限（四十八个小时public mint window)，但是要提供一个stop接口，如果mint过多，可能在24-36小时直接停止。
4，预留数量: 100 
5，预售时间两个小时：美东晚九点到十一点，美西晚六点到八点，九月十九日；中国北京九月二十日早上九点到十一点；一个钱包mint两个
6，公售时间四十八个小时：九月十九日美东晚十一点，美西八点；中国北京时间九月二十日上午十一点点，一个钱包mint一个
7，48个小时后关闭（美东九月二十一日晚上九点，美西晚上十一点；中国北京九月二十二日上午九点）
8，开图时间：美东九月二十九日晚上九点，美西十一点；中国北京九月十月一日上午九九月十九日点
9，mint price 0.01 ETHW
